<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Reed Austin's Website: Contact</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <h1 id="title">Reed Austin</h1>
    <div id="navbar">
        <ul id="navlist">
            <li><a href="index.html">Home</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>

    <div id="contactInfo">
        <div id="emails" class="infoBlock">
            <h1>Email Addresses</h1>
            <p>Personal email: [placeholder]</p>
            <p>School email: [placeholder]</p>
        </div>
        <div id="GitHub" class="infoBlock">
            <h1>GitHub Accounts</h1>
            <p>Personal GitHub: <a href="https://github.com/reed-c-a">reed-c-a</a></p>
            <p>School GitHub: <a href="https://github.com/rca2858">rca2858</a></p>
        </div>
        <div id="LinkedIn" class="infoBlock">
            <h1>My LinkedIn</h1>
            <a href="https://www.linkedin.com/in/reed-austin-bb158435a/">Here!</a>
        </div>
    </div>
</body>
</html>