<!DOCTYPE html>
<html>
<head>
    <title>Reed Austin's Website</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <h1 id="title">Reed Austin</h1>
    <div id="navbar">
        <ul id="navlist">
            <li>Home</li>
            <li>Projects</li>
            <li>Contact</li>
        </ul>
    </div>

    <div id="introduction">
        <b>Hello!</b>
        <p>
            My name is Reed Austin. I'm a CS major at the Rochester Institute of Technology, currently on Summer break
            after my second year. I am making this in order to learn about HTML structuring and some styling.
            Hope you enjoy looking around, assuming the damn thing works!
        </p>
        <br>
        <b>About Me</b>
        <p>
            I started programming through my high school's classes on the subject. My class learned with Java
            using an editor called BluJay. It wasn't very good; it didn't have a debugger or even a dark theme.
            It was still enough to learn about simple concepts like variables, functions, flow control, and even
            some OOP concepts like classes, objects, inheritance, and polymorphism.
        </p>
        <p>
            When I got into college, my first two courses covered similar material. The first class used Python
            and I learned about a few specific features like the main guard and the language's syntax.
            Unfortunately, I don't remember much about the language, so I'd basically have to learn it again from scratch.
            The second course I took once again involved Java. This one went much more in-depth with features like
            interfaces, abstract classes, and even concurrent programming. It had longer projects, which I really wish
            I spent more time on in order to get better results. Overall, my first year in college was not so great. I had some work ethic issues that I needed to sort out,
            as well as untreated ADHD that was becoming a problem. I had a final CGPA of around 2.7.
        </p>
        <p>
            My second year was overall quite a bit better. Going into the Fall semester, I made some adjustments
            like starting my work as soon as I got it assigned. I took fewer courses that semester and they were more
            interesting to me overall, so it was easier to spend all the necessary time with homework. I did very well
            in all my classes except Statistics, which I blame on the fact that 95% of the grade comes from either
            quizzes or exams. The Spring did not go swimmingly, however. I took my heaviest courseload so far, one of which
            was a team project. Teams had four members, but for most of the semester only me and one other person were
            doing meaningful work. I had to spend a lot of time holding the thing together (with mixed results), and
            the effects of that bled into my other classes. I've never been more stressed out by school. My CGPA
            currently sits at 3.03: not quite as good as I hoped, but an improvement from the first year.
        </p>
        <br>
        <b>My Plans for the Future</b>
        <p>
            I am going to be working a co-op/internship that's 40 hours a week. My main priority over the Summer is ensuring that
            doesn't turn out to be a disaster.
        </p>
        <p>
            My second priority is learning to make new things. This will mainly consist of using web dev technology like
            React and Spring, but I might branch out into embedded systems and compilers. I don't want to spread myself too thin,
            especially with a full time job and some hobbies, but I'll try to hit all these topics in some meaningful capacity.
        </p>
    </div>
</body>
</html>