<!DOCTYPE html>
<html>
<head>
    <title>Reed Austin's Website: Projects</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <h1 id="title">Reed Austin</h1>
    <div id="navbar">
        <ul id="navlist">
            <li><a href="index.html">Home</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </div>

    <div class="body">
        <b>This section will contain explanations for some projects I've worked on.</b>
        <br>
        <br>

        <div id="ufund" class="project">
            <b><a href="https://github.com/RIT-SWEN-261-04/team-project-2026-swen-261-04-i-i9" target="_blank">U-Fund Donation Website</a></b>
            <p>
                In the Spring of 2026, my fourth semester in college, I was part of a software engineering course that introduced
                me to several web development technologies. The material taught in class was put to practice in a semester-long
                project in groups of four. My responsibilities and contributions included:
            </p>
            <ul>
                <li>Architecting the domain model, and later the UML diagrams, for our program</li>
                <li>Constructing a working API for all tiers of the back-end with Java Spring Boot throughout the project</li>
                <li>Testing code both manually via acceptance testing and automatically via unit testing</li>
                <li>Maintaining a comprehensive design document</li>
                <li>Facilitating the vast majority of team communications, including Slack messages and in-person meetings</li>
                <li>Communicating the status of the team's progress to the professor</li>
            </ul>
            <p>
                The project did not go as well as I would have liked, however. The team was composed of four people, but throughout
                most of the project, the only people doing work were me (doing all of the above) and Connor (doing almost the entire 
                front end, as well as part of the design document). To prevent similar bad experiences, I would be more direct
                in my communications with team members who need to be more engaged, rather than shy away for fear of seeming
                like a bother.
            </p>
        </div>
        <br>
        <br>

        <div id="interpreter" class="project">
            <b>Arithmetic Interpreter in C (not publicly available due to course policy)</b>
            <p>
                In the Fall of 2026, I took a course titled "The Mechanics of Programming", which was primarily an
                introductory C course, but also touched on other topics like operating systems, cryptography, and
                compilers/interpreters. The final project for the course was an interpreter, the creation of which involved
                the following:
            </p>
            <ul>
                <li>Re-implementing the classic Stack data structure in C with no memory leaks</li>
                <li>Handling input and output from the user, checking for correctness in formatting</li>
                <li>Understanding the stages of interpretation, including tokenization, parsing, evaluation, and
                I/O</li>
                <li>Ensuring that the program works as intended using the GDB, Valgrind, 
                and manually created test programs for each module and the finished product</li>
                <li>Maintaining a record of the project with version control via GitHub</li>
            </ul>
            <p>
                This was a solo project that I spent just over a month on, and it was a resounding success.
                I worked consistently and in a focused manner, reading the provided write-up carefully
                and testing thoroughly before making assumptions about the progress of the project. By this point in
                my college tenure, I had come to realize that the sooner I got started on a piece of assigned work, the
                more enjoyment I found in it and the less detrimental pressure I experienced. I feel as though this project
                was the product of a lot of difficult lessons learned and applied.
            </p>
        </div>
        <br>
        <br>

        <p>
            As my work continues, this page will expand. I look forward to adding to my list of projects in the future!
        </p>
    </div>
</body>
</html>