* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
}

#navbar {
    display: flex;
}

#navlist {
    list-style-type: none;
}

#navlist li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}